@import "./style.css";
@media screen and (max-width: 376px){
  .image-product-desktop {
    content: url("./images/image-product-mobile.jpg");
    width: 100%;
    height: 47%;
    border-radius: 10px 10px 0px 0px;
  }

  .container {
    width: 100%;
    height: 90vh;
    border-radius: 10px;
    flex-direction: column;
  }

  .information {
    width: 95%;
    height: 50%;
    padding: 5px 20px 5px 20px;
    margin-left: -5px;
  }

  .product-type { 
    font-family: Montserrat;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    font-size: 15px;
    margin-bottom: -10px;
  }

  .product-name {
    font-family: Fraunces;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    font-size: 30px;
    line-height: 80%;
    margin-bottom: 5px;
  }

  .product-description {
    font-family: Montserrat;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: -20px;
  }

  .product-price { 
    display: inline-block;
    font-family: Fraunces;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    font-size: 30px;
    margin-right: 30px;
  }

  .Old_price {
    display: inline-block;
    font-family: Fraunces;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    font-size: 16px;
    padding: 10px;
    text-decoration: line-through;
  }

  .button_sell {
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    border-width: 0;
    display: flex;
    margin-top: -20px;
    height: 60px;
    width: 95%;
    align-items: center;
    padding-left: 80px;
    margin-bottom: 10px;
  }

  .button_sell:hover {
    background-color: hsl(158, 98%, 19%);
      cursor: pointer;
  }

  .icon {
    transform: scale(1.6);
  }

  .button_content {
    font-family: Montserrat;
    font-weight: 500;
    color: white;
    margin-left:20px;
    font-size: 20px;
  }

}
